
@{
    ViewBag.Title = "自助服务";
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
}
<style type="text/css">
    table a {
        color: black;
    }
</style>
<div class="wrapper wrapper-content animated fadeInRight" style="padding-top:10px;">
    <div class="row">
        <img src="~/Images/130Q1115P9-0.jpg"  width="100%" height="200px;" />
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>
                        @*<img src="~/Images/global.png" width="20" height="20" />*@
                        <i class="fa fa-th"></i>
                        &nbsp;&nbsp;所有导航
                    </h5>
                </div>
                <div class="table-responsive">
                    <div class="ibox-content">

                        <table width="100%" style="line-height:20px; height:200px; font-size:12px;">
                            <tr>

                                <td colspan="3" style="text-align:left;">
                                    <h5>

                                        <i class="fa fa-laptop"></i>
                                        &nbsp;自助办理
                                    </h5>
                                </td>
                                <td colspan="3" style="text-align:left;">
                                    <h5>
                                        <i class="fa fa-search"></i>
                                        &nbsp;自助查询
                                    </h5>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#">我要出差</a></td>
                                <td><a href="#">我要调岗</a></td>
                                <td><a href="#">费用报销</a></td>
                                <td>
                                    <a href="#">我的假期</a>
                                </td>
                                <td>
                                    <a href="#">个人信息</a>
                                </td>
                                <td><a href="#">我的差旅</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">我要请假</a></td>
                                <td><a href="#">我要加班</a></td>
                                <td><a href="#">权限申请</a></td>
                                <td><a href="#">我的绩效</a></td>
                                <td><a href="#">社保信息</a></td>
                                <td><a href="#">我的福利</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">我要转正</a></td>
                                <td><a href="#">我要休假</a></td>
                                <td><a href="#">故障报修</a></td>
                                <td><a href="#">我的薪酬</a></td>
                                <td><a href="#">内部推荐</a></td>
                                <td><a href="#">我的培训</a></td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#">账户申请</a>
                                </td>
                                <td>
                                    <a href="#">软件安装</a>
                                </td>
                                <td>
                                    <a href="#">合同续约</a>
                                </td>
                                <td>
                                    <a href="#"> 在线考试</a>
                                </td>
                                <td>
                                    <a href="#"> 在线学习</a>
                                </td>
                                <td>
                                    <a href="#">我的考勤</a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <a href="#"> 公积金信息</a>
                                </td>
                                <td>
                                    <a href="#"> 档案信息</a>
                                </td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>
                        <i class="fa fa-fire"></i>
                        &nbsp;&nbsp;热点信息
                    </h5>
                </div>
                <div class="ibox-content" style="height:250px;">
                </div>
            </div>

        </div>
    </div>
</div>

